.clip {
  width: 40px;
  height: 40px;
  background-color: #ddd;
  margin-right: 1px;
  border: 1px solid transparent;
  cursor: pointer;
}

.clip:last-child {
  margin-right: 0
}

.clip:hover:not(.clip__selected) {
  background-color: #cfcfcf;
}

.clip__notEmpty {
  background-color: rgba(186, 218, 84, 0.7);
}

.clip:hover.clip__notEmpty {
  background-color: rgba(186, 218, 84, 0.8)
}

.clip__on {
  background-color: yellow;
}

.clip__selected {
  background-color: rgba(186, 218, 84, 0.9);
  border-color: rgba(0, 0, 0, 0.2);
}
