.button {
  width: 40px;
  height: 40px;
  background-color: #ddd;
  margin-right: 1px;
  border: 1px solid transparent;
  cursor: pointer;
}

.button:last-child {
  margin-right: 0
}

.button:hover:not(.button__selected) {
  background-color: #cfcfcf;
}

.button__notEmpty {
  background-color: rgba(186, 218, 84, 0.7);
}

.button:hover.button__notEmpty {
  background-color: rgba(186, 218, 84, 0.8)
}

.button__on {
  background-color: yellow;
}

.button__selected {
  background-color: rgba(186, 218, 84, 0.9);
  border-color: rgba(0, 0, 0, 0.2);
}
