.button {
  width: 40px;
  height: 40px;
  background-color: #ccc;
  margin-right: 1px;
  border: 1px solid transparent;
}

.button:last-child {
  margin-right: 0
}

.button__notEmpty {
  background-color: #bada55;
}

.button__highlighted {
  background-color: #666;
}

.button__on {
  background-color: yellow;
}

.button__selected {
  background-color: #f50;
  border-color: rgba(0, 0, 0, 0.3);
}
