.button {
  width: 20px;
  height: 20px;
  background-color: #ccc;
  margin-right: 1px;
}

.button:last-child {
  margin-right: 0
}

.button__notEmpty {
  background-color: #bada55;
}

.button__highlighted {
  background-color: #666;
}

.button__on {
  background-color: yellow;
}
