@import "../node_modules/normalize.css/normalize.css";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #333;
}

button {
  padding: 10px;
  background: #eee;
  color: #333;
  font-weight: 400;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  outline: 0;
}

button:hover {
  background-color: #e0e0e0;
}

button.m-no-highlight {
  background-color: inherit;
}

button:disabled,
button:disabled:hover {
  cursor: not-allowed;
  background-color: #fafafa;
  color: #bbb;
}

input {
  outline: 0;
  border: 0;
  border-bottom: 1px solid #ddd;
  line-height: 26px;
}

input:focus {
  border-bottom-color: #ccc;
}

#root {
  background-color: #fff;
  height: 100vh;
  width: 100vw;
}
